<form action="/captions" method="POST">
  <div>
    <input type="text" name="caption[top]" placeholder="Top text" />
  </div>
  <div>
    <input type="text" name="caption[bottom]" placeholder="Bottom text" />
  </div>
  <div>
    <button>
      <img src="http://www.contemporary-home-computing.org/idioms/wp-content/uploads/mario.gif" alt="Submit Image" />
    </button>
  </div>
</form>
